/* You can add global styles to this file, and also import other style files */

.label {
    color: red;
}

.bg-grey {
    background-color: #dbdbdb;
}

h2 {
    color: #339933;
    font-family: Montserrat, sans-serif;
}