<div id="Contact" class="container-fluid bg-grey">
    <h2 class="text-center blue-heading">CONTACT</h2>
    <div class="row">
        <div class="col-sm-4 col-xs-4 col-lg-4 col-md-4">
            <p>Contact us and we'll get back to you within 24 hours.</p>
            <p><span class="fa fa-map-marker"></span> Glassglow, UK</p>
            <p><span class="fa fa-phone"></span> +00 00000000</p>
            <p><span class="fa fa-envelope"></span> info@greatoutdoors.com</p>
        </div>
        <div class="col-sm-8 col-xs-8 col-lg-8 col-md-8">
            <form>
                <div class="row">
                    <div class="col-sm-6 form-group">
                        <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
                    </div>
                    <div class="col-sm-6 form-group">
                        <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
                    </div>
                </div>
                <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea><br>
                <div class="row">
                    <div class="col-sm-12 form-group">
                        <button class="btn btn-submit pull-right" type="submit">Send</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-sm-4 col-xs-4 col-lg-4 col-md-4">
            <!-- Map Section -->
            <div class="embed-responsive embed-responsive-100x400px">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d35818.719732048536!2d-4.25169!3d55.868392!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x488815562056ceeb%3A0x71e683b805ef511e!2sGlasgow%2C+Glasgow+City%2C+UK!5e0!3m2!1sen!2sus!4v1448625188752" width="600"
                    height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
            <!-- end of Map Section -->

        </div>
    </div>
</div>



<!-- Footer Section -->
<footer class="text-center">
    <p>Copyright(2019) Reserves Great Outdoors Pvt .Ltd <br>
        <a href="#" title="Visit www.greatoutdoors.com">www.greatoutdoors.com</a></p>
</footer>
<!--End of Footer Section -->