.navbar {
    font-family: Montserrat, sans-serif;
    color: white;
    background-color: #339933;
}

.navbar a {
    color: white;
}

.navbar .dropdown-menu {
    background-color: #336699;
    opacity: 1;
}

.navbar .dropdown-item:hover {
    color: white;
    background-color: #052b69;
}

.navbar .navbar-toggler {
    color: white;
    border-color: #fff;
}